[Unit]
Description=Wyoming openWakeWord

[Service]
Type=simple
ExecStart=/home/{{ ansible_user }}/wyoming-openwakeword/script/run --uri 'tcp://127.0.0.1:10400'
WorkingDirectory=/home/{{ ansible_user }}/wyoming-openwakeword
Restart=always
RestartSec=1

[Install]
WantedBy=default.target