[Unit]
Description=Wyoming Satellite
Wants=network-online.target
After=network-online.target
Requires=wyoming-openwakeword.service

[Service]
Type=simple
ExecStart=/home/{{ ansible_user }}/wyoming-satellite/script/run \
    --name '{{ satellite_name }}' --uri 'tcp://0.0.0.0:10700' \
    --mic-command 'arecord -D plughw:CARD=seeed2micvoicec,DEV=0 -r 16000 -c 1 -f S16_LE -t raw' \
    --snd-command 'aplay -D plughw:CARD=seeed2micvoicec,DEV=0 -r 22050 -c 1 -f S16_LE -t raw' \
    --wake-uri 'tcp://127.0.0.1:10400' \
    --wake-word-name {{ wake_word_model }} \
    --awake-wav sounds/awake.wav \
    --done-wav sounds/done.wav \
    --mic-auto-gain 5 \
    --mic-noise-suppression 2
WorkingDirectory=/home/{{ ansible_user }}/wyoming-satellite
Restart=always
RestartSec=1

[Install]
WantedBy=default.target